.porfolio{
  background-color:#000000;
  color: #fff;
}

.barraInicio{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #464646;
  
}

.logo{
  font-size: 40px;
  margin-right: 1000px;
  cursor: pointer;
  /* color: linear-gradient(
    to right,
    #028090 0%,
    #CB48B7 100%
  ); */
  color:#028090;
}

.barraInicio a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.barraInicio a:hover{
  background-image: linear-gradient(
    to right,
    #028090 0%,
    #CB48B7 100%
  );
  background-size: 200% 200%;
  animation: movimiento 1s infinite alternate;
  padding: 10px;
  border-radius: 10px;
}

@keyframes movimiento{
  from{
    background-position: 0 0;
  }
  to{
    
    background-position: 100% 100%;
  }
}

