.contact{
    padding-bottom: 100px;
    
}

.contact h1{
    text-align: center;
    font-size: 70px;
    color: #028090;
    text-shadow:0.1em 0.1em 0.5em #6b6b6b
}

.contact p{
    text-align:center;
    font-size: 30px;
    color: #fff;
    margin-top: 100px;
}

.media a{
    text-decoration: none;
    color: #fff;
    
    

}

.media{
    display: flex;
    column-gap: 25px;
    justify-content: center;
    padding-left: 0px;
    
}

.icon{
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover{
    outline-offset: 4px;
}

.icon a{
    margin:auto;
    text-decoration: none;
}

.icon a:hover{
    animation: shake 0.25s;
}

.instagramStart:hover{
    background-image:radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%);
    outline-color: #a02d76;
}

.linkedinStart:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.twitterStart:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.githubStart:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

.email:hover{
    background-color: #d61919;
    outline-color: #d61919;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}


/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  /* Estilos para los campos de datos */
  .datosContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .textName, .textSecondName, .textEmail {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  
  .inputName, .inputSecondName, .inputEmail {
    background-color: #202020;
    color: white;
    width: 300px;
    padding: 10px;
    border: none;
  }
  
  /* Estilos para el campo de mensaje */
  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .textMessage {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #444444;
  }
  
  .inputMessage {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #202020;
  }
  
  /* Estilos para el botón de enviar */
  .send {
    margin-top: 50px;
    background-color: #CB48B7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .send:hover {
    background-color: #ffffff;
    color: #CB48B7;
  }
  
  @media  screen and (max-width: 768px) {
    
    .datosContact {
      margin-bottom: 20px;
    }
  
    .inputName, .inputSecondName, .inputEmail {
      width: 250px;
    }
  
    .inputMessage {
      width: 250px;
      height: 150px;
    }
  
    .send {
      margin-top: 30px;
    }

}