.proyects{
    margin-bottom: 150px;
    scroll-behavior: smooth;
}

.proyects h1{
    text-align: center;
    font-size: 70px;
    color: #028090;
    text-shadow:0.1em 0.1em 0.5em #6b6b6b
}

.proyects p{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
    font-size: 30px;
}

.proyects .tittleProyects{
    display:flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 40px;
    color:#cb48b7;
    text-shadow:0.1em 0.1em 0.9em #6b6b6b
}

.container{
    display: flex;
    flex-direction: row;
    gap:24px;
    padding: 16px;
    max-width: 700px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 550px;
}

.card{
    scroll-snap-align: start;   
    min-width: 500px;
    min-height: 500px;
    color:#028090;
}

.fotoProyect1, .fotoProyect2, .fotoProyect3{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    border-radius: 10px;
    
}

.fotoProyect4, .fotoProyect5{
    width: 400px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
} 

/* .proyectsListFront{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    color:#fff;
    list-style: none;
}



.fotoProyect1:hover, .fotoProyect2:hover, .fotoProyect3:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(2, 128, 144, 0.5);
    
    
}

.proyectsListBack{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    color:#fff;
    list-style: none;
}

*/


