.sobreMi{
    padding-top: 20px;
    margin-bottom: 150px;
}

.hobbies {
    margin-top: 200px;
    margin-bottom: 50px;
    list-style: none;
    font-size: 30px;
    color: #cb48b7;
}
.hobbiesTittle{
    color:#028090;
    font-size: 55px;
}

.hobbies li{
    text-align: right;
    margin-right: 200px;
    
}

.fotos{
    width: 600px;
    height: 430px;
    display:Flex;
    margin-left: 200px;
    margin-top: -400px;
}

.fotos img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.fotos img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%)
}

.sobreMi h1{
    text-align: center;
    font-size: 70px;
    color: #028090;
    text-shadow:0.1em 0.1em 0.5em #6b6b6b
}

.sobreMi p{
    text-align:center;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .sobreMi {
    margin-bottom: 100px;
    }
    
    .hobbies {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    }
    
    .hobbiesTittle {
    font-size: 40px;
    }
    
    .hobbies li {
    margin-right: 50px;
    }
    
    .fotos {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    
    .fotos img {
    width: 100%;
    max-width: 300px;
    opacity: 1;
    margin-right: 50px;
    margin-left: 50px;
    }
    
    .sobreMi h1 {
    font-size: 50px;
    }
    
    .sobreMi p {
    font-size: 16px;
    margin-top: 10px;
    }
}